header, nav, main, footer
{
  display: block;
  width: 1078px;
  text-align: left;
  margin: auto;
}

body {
  color: #ffffff;
  background-color:#9370DB;
  margin: 0px;
  text-align: center;
}

header, nav{
  color: white;
  background-color: gray;
  position: relative;
}

footer {
  color: white;
  background-color: blue;
  clear: both;
  width: 1078px;
  height: auto;
}

main {
  color: black;
  height: auto;
  overflow: hidden;
  margin: auto;
}

#col-left {
  background-color:#006acc;
  width: 200px;
  height: 200px;
  float: left;
  color: white;
}
#col-center {
  background-color: #00008B;
  height: 200px;
}

#container {
 position: relative;
 margin: auto;
 width: 1078px;
 height: auto;
 overflow: hidden;
 border: 1px solid #ffffff;
}

#logo {
 position: absolute;
 top:10px; left:10px;
 width: 200px;
 height: 40px;
 border: 2px dotted #731980;
}

img{
	width: 60px;
	height: 60px;
	right: 10px;
}

#tabela td {
   border: 1px solid black;
   padding: 5px;
}
table {background-color: #87CEFA;}
   table thead th {color: #FFFFFF;}
   table tbody tr:nth-child(2n+3) { background-color: #32CD32; }
   table tbody tr:nth-child(2n+4) { background-color: #C0C0C0; }